# Common ignores
*.o

# Hello World Project ignores
recipes-apps/hello_world/RemoteSystemsTempFiles/
recipes-apps/hello_world/hello_world/Makefile
recipes-apps/hello_world/hello_world/Makefile.in
recipes-apps/hello_world/hello_world/aclocal.m4
recipes-apps/hello_world/hello_world/arm-poky-linux-gnueabi-libtool
recipes-apps/hello_world/hello_world/autom4te.cache/
recipes-apps/hello_world/hello_world/compile
recipes-apps/hello_world/hello_world/config.guess
recipes-apps/hello_world/hello_world/config.h
recipes-apps/hello_world/hello_world/config.h.in
recipes-apps/hello_world/hello_world/config.log
recipes-apps/hello_world/hello_world/config.status
recipes-apps/hello_world/hello_world/config.sub
recipes-apps/hello_world/hello_world/configure
recipes-apps/hello_world/hello_world/depcomp
recipes-apps/hello_world/hello_world/install-sh
recipes-apps/hello_world/hello_world/ltmain.sh
recipes-apps/hello_world/hello_world/missing
recipes-apps/hello_world/hello_world/src/.deps/
recipes-apps/hello_world/hello_world/src/Makefile
recipes-apps/hello_world/hello_world/src/Makefile.in
recipes-apps/hello_world/hello_world/src/hello_world
recipes-apps/hello_world/hello_world/stamp-h1
recipes-apps/hello_world/hello_world/libtool

# spidev_test Project ignores
recipes-apps/spi_loop_back/spidev_test/Makefile
recipes-apps/spi_loop_back/spidev_test/Makefile.in
recipes-apps/spi_loop_back/spidev_test/aclocal.m4
recipes-apps/spi_loop_back/spidev_test/arm-poky-linux-gnueabi-libtool
recipes-apps/spi_loop_back/spidev_test/autom4te.cache/
recipes-apps/spi_loop_back/spidev_test/compile
recipes-apps/spi_loop_back/spidev_test/config.guess
recipes-apps/spi_loop_back/spidev_test/config.h
recipes-apps/spi_loop_back/spidev_test/config.h.in
recipes-apps/spi_loop_back/spidev_test/config.log
recipes-apps/spi_loop_back/spidev_test/config.status
recipes-apps/spi_loop_back/spidev_test/config.sub
recipes-apps/spi_loop_back/spidev_test/configure
recipes-apps/spi_loop_back/spidev_test/depcomp
recipes-apps/spi_loop_back/spidev_test/install-sh
recipes-apps/spi_loop_back/spidev_test/ltmain.sh
recipes-apps/spi_loop_back/spidev_test/missing
recipes-apps/spi_loop_back/spidev_test/src/.deps/
recipes-apps/spi_loop_back/spidev_test/src/Makefile
recipes-apps/spi_loop_back/spidev_test/src/Makefile.in
recipes-apps/spi_loop_back/spidev_test/src/spidev_test
recipes-apps/spi_loop_back/spidev_test/stamp-h1

