<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.cdt.launch.remoteApplicationLaunchType">
    <booleanAttribute key="org.eclipse.cdt.dsf.gdb.AUTO_SOLIB" value="false"/>
    <stringAttribute key="org.eclipse.cdt.dsf.gdb.DEBUG_NAME" value="/opt/yocto_sdk/sysroots/x86_64-pokysdk-linux/usr/bin/arm-poky-linux-gnueabi/arm-poky-linux-gnueabi-gdb"/>
    <stringAttribute key="org.eclipse.cdt.dsf.gdb.GDB_INIT" value="/home/christopher/Documents/working/raspberry_pi/poky/meta-user/recipes-apps/hello_world/hello_world/.gdbinit"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="src/hello_world"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="hello_world"/>
</launchConfiguration>
