[Unit]
Description=GPS Logging service
After=gpsd.service
StartLimitInterval=200
StartLimitBurst=5

[Service]
Type=simple
User=root
ExecStart=/usr/bin/gpslogger.sh
ExecReload=kill -HUP $MAINPID
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target

