<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.cdt.launch.remoteApplicationLaunchType">
    <booleanAttribute key="org.eclipse.cdt.dsf.gdb.AUTO_SOLIB" value="false"/>
    <stringAttribute key="org.eclipse.cdt.dsf.gdb.DEBUG_NAME" value="/opt/yocto_sdk/sysroots/x86_64-pokysdk-linux/usr/bin/arm-poky-linux-gnueabi/arm-poky-linux-gnueabi-gdb"/>
    <stringAttribute key="org.eclipse.cdt.dsf.gdb.GDB_INIT" value="/home/christopher/Documents/working/raspberry_pi/poky/meta-user/recipes-apps/spi_loop_back/spidev_test/.gdbinit"/>
    <intAttribute key="org.eclipse.cdt.launch.ATTR_BUILD_BEFORE_LAUNCH_ATTR" value="2"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="src/spidev_test"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="spidev_test"/>
    <booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="false"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value=""/>
    <stringAttribute key="org.eclipse.debug.core.ATTR_PRERUN_CMDS" value="chmod u+x spidev_test"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_SKIP_DOWNLOAD_TO_TARGET" value="false"/>
    <stringAttribute key="org.eclipse.debug.core.ATTR_TARGET_PATH" value="/home/root/spidev_test"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/spidev_test"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.debug.core.REMOTE_TCP" value="Remote Host"/>
</launchConfiguration>
